#map{
  margin: auto;
  width:800px;
  height: 600px;
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs input{
  width: 10%;
  margin: 5px;
  padding: 10px;
}
.inputs input:last-child{
  background-color: #1E90FF;
  border: none;
  width: 11.33%;
}
